.navegacao{
    padding: 150px;
   
}

.nav-item a {
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
}


.banner-image {
    background-color: rgb(65, 77, 80);
}

body {
    font-family: 'Open Sans', sans-serif;
}



